
      <%= render 'layouts/header' %>

      <main id="main" class="site-main">

        <%= render 'layouts/carousel' %>

        <section class="section section-center section-cta" id="about">
          <div class="container">
            <h2 class="section-title"><span>About Us</span></h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <div class="main-action row">
              <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2"><a href="#" class="smooth-scroll btn btn-lg btn-block btn-danger">Request Quote</a></div>
              <div class="col-md-3 col-sm-4"><a href="#" class="smooth-scroll btn btn-lg btn-block btn-default">Our Services</a></div>
            </div>
          </div>
        </section>

                <section id="services" class="section section-hilite">
          <div class="container">
            <h2 class="section-title"><span>Our Services</span></h2>

        <div class="panel-group" id="accordion">
          <%= render @services %>

        </div>


          </div>
        </section>
        <section id="portfolio" class="section section-portfolio">
          <div class="container">
            <h2 class="section-title"><span>Recent Works.</span></h2>
            <ul id="filters">
              <li><a href="#" data-filter="*">All</a></li>
              <li>/</li>
              <% tasks.each do |task| %>
              <li><a href="#" data-filter=".<%= task %>"><%= task %></a></li>
              <li>/</li>
              <% end %>
            </ul>
            <div class="portfolio-isotope row">
            <% @clients.each do |client| %>

              <article class="post col-md-3 col-sm-6 portfolio-item <%= client_tasks(client).join(" ") %>">
                <div class="entry-thumbnail">
                  <a href="#" class="hover-effect" data-toggle="modal" data-target="#project-modal" data-title="<%= client.name %>" data-contact-name="<%= client.contact.name %>" data-contact-occupation="<%= client.contact.occupation %>" data-contact-phone="<%= client.contact.telephone %>" data-contact-description="<%= client.contact.description %>">
                    <img src="http://placehold.it/400x300" alt=""/>
                    <span class="overlay"><i class="fa fa-plus"></i></span>
                  </a>
                </div>
              </article>

              <% end %>

            </div>

          </div>
        </section>

        <!-- Project Modal -->
        <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="project-modal-label"></h4>
              </div>
              <div class="modal-body">
                <article class="single-project">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-unstyled project-info">
                        <li><strong>Name</strong> <span class="pull-right c-name"></span></li>
                        <li><strong>Occupation</strong> <span class="pull-right c-occupation"></span></li>
                        <li><strong>Phone</strong> <span class="pull-right c-phone"></span></li>
                      </ul>
                      
                    </div>
                    <div class="col-md-6">
                      <p class="contact-description"></p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>

        <section id="clients" class="section section-hilite section-our-clients">
          <div class="container">
            <h2 class="section-title"><span>Our Clients</span></h2>
            <div class="row">
              <% @clients.first(6).each do |client| %>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <a href="#"><img src="http://placehold.it/165x80" alt="" /></a>
                </div>
              <% end %>
          </div>
        </section>


        <section id="team" class="section section-center section-team section-hilite">
            <div class="container">
                <h2 class="section-title"><span>Our Team</span></h2>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>Rihanna</h5>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>Marry</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>Ronaldo</h5>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>Jackie Lord</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>David Beckham</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://placehold.it/306x306">
                        <h5>John Doe</h5>
                    </div>
                </div>
            </div>
        </section>

        
      <%= render 'emails/form' %>
      </main>

     <%= render 'layouts/footer' %>
